.title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px auto;
  font-size: 5rem;
  line-height: 6rem;
}

.content {
  max-width: 600px;
  height: 100%;
  margin: 20px auto;
  font-size: 2rem;
  line-height: 1.5rem;
  padding-bottom: 20px;
}